/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL WIDTH & HEIGHT */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* REMOVE VITE DEFAULT CENTERING */
body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background: #020617;
}
